.native {
  margin-left: 2rem;
}

.native-btn {
  padding: 10px 30px;
  font-size: 15px;
  background-color: #fff;
  border: 2px solid;
  box-shadow: 5px 5px;
  cursor: pointer;
  border-radius: 5px;

}

