.male-native-dress-input-container{
    width: 10rem;
    height: 10rem;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
}